/* .admin-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.admin-section {
  margin-bottom: 40px;
}

h1,
h2 {
  color: #333;
}

.message {
  margin-top: 20px;
} */


/* AdminPage.css */

.admin-container {
  background: linear-gradient(283deg, #979797, #b7b3b7);
  padding: 20px;
  border-radius: 8px;
}

.tableHeader {
  background-color: #ffcccb;
}

.tableCell {
  font-weight: bold;
}

.button {
  margin-top: 0.5rem;
}

.messageField {
  margin-top: 0.5rem;
}

