.admin-container {
  background: linear-gradient(283deg, #979797, #b7b3b7);
  padding: 20px;
  border-radius: 8px;
}

.tableHeader {
  background-color: #ffcccb;
}

.tableCell {
  font-weight: bold;
}

.button {
  margin-top: 0.5rem;
}

.messageField {
  margin-top: 0.5rem;
}