.service-details-page {
  font-family: "Arial", sans-serif;
  padding: 20px;
  text-align: center;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
}

.service-header {
  margin-bottom: 30px;
}

.service-header h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.service-header p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.service-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.service-image-container {
  flex: 1;
}

.service-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-text-content {
  flex: 2;
  text-align: left;
}

.service-text-content h2,
.service-text-content h3 {
  font-size: 28px;
  color: #5ca9fb;
  margin-bottom: 10px;
}

.service-text-content p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 20px;
}

.service-text-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.service-text-content ul li {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.book-now-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #5ca9fb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.book-now-button:hover {
  background-color: #3b82f6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .service-content {
    flex-direction: column;
    text-align: center;
  }

  .service-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .service-text-content {
    text-align: center;
  }
}